<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.myPage.model.mapper.MyPageMapper">
	<!-- namespace에 연결할 Mapper 인터페이스 패키지명 + 인터페이스 명 작성
		-> Mapper 인터페이스 메서드 호출 시
		xml 파일에 작성된 태그 중 메서드 명과 같은 id를 가진 SQL이 수행됨
	 -->
	 
	 <update id="updateInfo" parameterType="Member">
	 	UPDATE  "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL = #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_NO = ${memberNo}
	 </update>
</mapper>
